<div class="container bg-white rounded mb-5 p-3">

    <h2 class="p-3 text-center">Crear Producto</h2>
    <form id="productsForm">

        <div class="mb-3">
            <label for="title" class="form-label">Nombre del producto:</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio:</label>
            <input type="number" class="form-control" name="price">
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">Thumbnail:</label>
            <input type="text" class="form-control" name="thumbnail">
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center pb-5">
            <input class="btn btn-success" type="submit" value="Enviar">
        </div>

    </form>
</div>

<div class="container bg-white rounded mb-5 p-3">

    <h2 class="p-3 text-center">Productos</h2>

    <div id="history" class="h6 pb-2 mb-4 text-danger border-danger text-center">Aún no se ha agregado
        ningún producto</div>
</div>

<div class="container bg-white rounded mb-5 p-3">

    <h2 class="p-3 text-center">Mensajes</h2>

    <div id="chatHistory" class="h6 pb-2 mb-4 text-danger border-danger text-center">No hay mensajes para mostrar</div>

    <form id="chatForm">

        <div class="row container">
            <div class="col">
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Mensaje" name="message">
            </div>
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Enviar">
            </div>
        </div>
    </form>
</div>